/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
  $color-pack: false
);

$font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

//  -- Back ground color --
$bg-main-color: #f3f3f3;

// -- Text color --
$text-main-color: #00040c;
$text-primary-color: #442a3c;
$text-second-color: #8892b0;
